{% extends "base.html" %}
{% load humanize %}

{% block content %}
<div class="container mt-5">
    <h2 class="mb-4">My Purchase Offers</h2>

    {% if offers %}
        <div class="row">
            {% for offer in offers %}
                <div class="col-md-6 col-lg-4 mb-4">
                    <div class="card h-100">
                        <div class="card-body">
                            <h5 class="card-title">{{ offer.property.property_address }}</h5>
                            <p class="card-text">
                                <strong>Offer ID:</strong> {{ offer.offer_id }}<br>
{#                            náði ekki að nota gögn úr bæði 'offers' og 'properties' töflunum  #}
                                <strong>property Address:</strong> {{ offer.properties.property_address }} <br>
                                <strong>Price Offered:</strong> {{ offer.offer_price|intcomma }} kr<br>
                                <strong>Expires:</strong> {{ offer.expire_date }}<br>
                                <strong>Status:</strong> {{ offer.status }}<br>
                                {% if offer.status.id == 1 %}
                                <a class="btn btn-primary" href="{% url 'offers:finalize-offer' offer_id=offer.offer_id %}">Proceed to payment form</a>
                                {% endif %}
                            </p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p class="text-muted">You haven't made any offers yet.</p>
    {% endif %}
</div>
{% endblock %}
