{% extends "base.html" %}
{% load humanize %}

{% block content %}
<div class="container mt-5">
    <h2 class="mb-4">My Listings </h2>

    {% if listings %}
        <div class="row">
            {% for listing in listings %}
                <div class="col-md-4 mb-4">
                <a href="{% url 'property-by-id' id=listing.property_id %}" class="text-decoration-none text-reset">
                    <div class="card property-card {% if listing.is_sold %}card-disabled{% endif %} h-100 position-relative">
                        <img src="{{ listing.image_cover }}" class="card-img-top" alt="Property image">
                        <div class="card-body">
                            <h5 class="card-address">{{ listing.property_address }}</h5>
                            <h3 class="card-city-and-post-code">{{ listing.postalcode }} {{ listing.city }}</h3>
                            <ul class="card-details">
                                <li><strong>Type:</strong> {{ listing.property_type }}</li>
                                <li><strong>Size:</strong> {{ listing.squaremeters }} m²</li>
                                <li><strong>Listed:</strong> {{ listing.listing_date }}</li>
                                <li class="sold-status">
                                    <strong>Status:</strong>
                                    <span class="badge {% if not listing.is_sold %}bg-success{% else %}bg-danger{% endif %}">
                                        {{ listing.is_sold|yesno:"Sold,Available" }}
                                    </span>
                                </li>
                            </ul>
                            <p class="card-price">Price: {{ listing.property_price|intcomma }} kr</p>
                        </div>
                    </div>
                </a>

            </div>
            {% endfor %}
        </div>
    {% else %}
        <p class="text-muted">You haven't made any listings yet.</p>
    {% endif %}
</div>
{% endblock %}
